@media (min-width: 768px)
body {
    font-family: "OpenSans", Helvetica, Tahoma, Arial, sans-serif;
    background: #4F1D0C url(https://64.media.tumblr.com/0d101a0…/3c157231c3bb8373-5b/s2048x3072/b1b2724….jpg) fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 14px;
}